/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.input-section {
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding in width calculation */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
button:active {
    background-color: #0056b3;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); 
}

/* Estilos de la lista de proyectos */
.project-list .project {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.project-list .project h2 {
    margin-top: 0;
    color: #333;
}

.project-list .project p {
    margin-top: 25px;
    color: #666;
}

.add-task-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-task-button:hover {
    background-color: #45a049;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    position: relative;
}

.modal-content h2 {
    margin-top: 0;
    color: #333;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Estilos para el div al hacer clic */
#resultadosBusqueda:active {
    background-color: #f0f0f0; 
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); 
    display: flexbox;
}

/* Estilos para el div en general */
/* Estilos para el div en general */
#resultadosBusqueda {
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: center;
    align-items: center; 
}